@using QLCuaHangVali.Models;
@model List<GioHang>
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Giỏ Hàng
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            <h4>
                Giỏ hàng của bạn chứa:
                <span>@Model.Count Sản phẩm</span>
            </h4>
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>SL No.</th>
                            <th>Sản Phẩm</th>
                            <th>Số Lượng</th>
                            <th>Tên sản Phẩm</th>
                            <th>Giá</th>
                            <th>Xóa SP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int stt = 0;}
                        @foreach (var item in Model)
                        {
                            {stt++;}
                            <tr class="rem1">
                                <td class="invert">@stt</td>
                                <td class="invert-image">
                                    <a href="#">
                                        <img style="width: 120px" src="~/Content/AnhVali/@item.ianhvali" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>@item.isoluong</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">@item.itenvali</td>
                                <td class="invert">@item.dDongia VNĐ</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close1"> </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            @*// Viết tiếp code tông tiền*@
        </div>
        <div class="checkout_vali">
            <a class="btn btn-check" href="@Url.Action("DatHang","GioHang")">Thanh toán</a>
        </div>
    </div>
</div>
<script src="~/Public/homepage/js/jquery-2.1.4.min.js"></script>
<script src="~/Public/homepage/js/jquery.magnific-popup.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<script src="~/Public/homepage/js/minicart.js"></script>
<!-- //cart-js -->
<!--quantity-->
<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
</script>
<!--quantity-->
<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
</script>
<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
</script>
<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
</script>
<!--//quantity-->
<script src="~/Public/homepage/js/bootstrap.js"></script>