@model IEnumerable<QLCuaHangVali.Models.THUONGHIEU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section header{


<h2 style="text-align">Thương Hiệu Vali</h2>

<p>
    @Html.ActionLink("Tạo thương hiệu mới", "Create")
</p>
<table class="table" border="1px">
    <tr>
        <th>
            Mã thương hiệu
        </th>
        <th>
            Tên thương hiệu
        </th>
        <th>
            Mô tả
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.mathuonghieu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tenthuonghieu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mota)
    </td>
    <td style="text-align: center;">
        <div class="btn btn-info"> @Html.ActionLink("Sửa", "Edit", new { id = item.mathuonghieu })</div>
        <div class="btn btn-warning"> @Html.ActionLink("Xóa", "Delete", new { id = item.mathuonghieu })</div>
    </td>
</tr>
    }

</table>
    }
